.item {
  --S: calc(var(--R) * 2.5);
  --x: calc(var(--S) * 0.5);
  --X: calc(var(--x) * -1);
  --Y: var(--S);
  --y-margin: 0.1;

  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  transition-property: width, height, transform;
  transition-duration: var(--duration);
  width: var(--S);
  height: var(--S);
  transform: translate(var(--X), var(--Y));
}

:global(.flat) .item.p-1 {
  --X: calc(var(--x) * -7);
  --Y: calc(var(--S) * var(--y-margin));
}

:global(.pointy) .item.p-1 {
  --X: calc(var(--x) * -6);
  --Y: calc(var(--S) * var(--y-margin));
}

:global(.flat) .item.p-2 {
  --X: calc(var(--x) * 5);
  --Y: calc(var(--S) * var(--y-margin));
}

:global(.pointy) .item.p-2 {
  --X: calc(var(--x) * 4);
  --Y: calc(var(--S) * var(--y-margin));
}

:global(.flat) .item.p-3 {
  --X: calc(var(--x) * 5);
  --Y: calc(var(--S) * (5 + var(--y-margin)));
}

:global(.pointy) .item.p-3 {
  --X: calc(var(--x) * 4);
  --Y: calc(var(--S) * 6);
}

:global(.flat) .item.p-4 {
  --X: calc(var(--x) * -7);
  --Y: calc(var(--S) * (5 + var(--y-margin)));
}

:global(.pointy) .item.p-4 {
  --X: calc(var(--x) * -6);
  --Y: calc(var(--S) * 6);
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.highlight {
  --S: calc(var(--R) * 2);
  --width: calc(var(--R) * 4.5);
  --height: calc(var(--R) * 9 * var(--ratio));
  --radius: calc(var(--R) * 1.5);
  --x: 0;
  --y: 0;
  --bg-color: rgba(0, 0, 0, 0.3);

  pointer-events: none;
  position: absolute;
  top: 0;
  left: 50%;
  transition-property: width, height, transform, background, border-radius;
  transition-duration: var(--duration);
  transform: translate(var(--x), var(--y));
}

:global(.flat) .highlight {
  width: var(--width);
  height: var(--height);
}

:global(.pointy) .highlight {
  width: var(--height);
  height: var(--width);
}

:global(.flat) .highlight.p-1 {
  --x: calc(var(--width) * -2);
  background: linear-gradient(120deg, var(--bg-color) 50%, transparent 50%);
}

:global(.pointy) .highlight.p-1 {
  --x: calc(var(--width) * -2 * var(--ratio));
  background: linear-gradient(150deg, var(--bg-color) 50%, transparent 50%);
}

:global(.flat) .highlight.p-2 {
  --x: var(--width);
  background: linear-gradient(60deg, transparent 50%, var(--bg-color) 50%);
}

:global(.pointy) .highlight.p-2 {
  background: linear-gradient(30deg, transparent 50%, var(--bg-color) 50%);
}

:global(.flat) .highlight.p-3 {
  --x: var(--width);
  --y: var(--height);
  background: linear-gradient(120deg, transparent 50%, var(--bg-color) 50%);
}

:global(.pointy) .highlight.p-3 {
  --y: calc(var(--height) * 2 * var(--ratio));
  background: linear-gradient(150deg, transparent 50%, var(--bg-color) 50%);
}

:global(.flat) .highlight.p-4 {
  --x: calc(var(--width) * -2);
  --y: var(--height);
  background: linear-gradient(60deg, var(--bg-color) 50%, transparent 50%);
}

:global(.pointy) .highlight.p-4 {
  --x: calc(var(--width) * -2 * var(--ratio));
  --y: calc(var(--height) * 2 * var(--ratio));
  background: linear-gradient(30deg, var(--bg-color) 50%, transparent 50%);
}

/* RADIUS */

.highlight.p-1 {
  border-top-left-radius: var(--radius);
}

.highlight.p-2 {
  border-top-right-radius: var(--radius);
}

.highlight.p-3 {
  border-bottom-right-radius: var(--radius);
}

.highlight.p-4 {
  border-bottom-left-radius: var(--radius);
}

/** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.hex {
  --s: calc(var(--R) * 1.5);
  /*pointer-events: none;*/
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 0 1em rgba(68, 68, 68, .08));
  width: calc(var(--s));
  height: calc(var(--s) * var(--ratio));
  position: absolute;
  top: 0;
  left: 50%;
  transition-property: width, height, transform;
  transition-duration: var(--duration);
}

:global(.flat) .hex {
  transform: translate(var(--X), var(--Y));
}

:global(.pointy) .hex {
  transform: translate(var(--X), var(--Y)) rotate(-30deg);
}

:global(.flat) .hex.p-1 {
  --X: calc(var(--R) * -8.75);
  --Y: calc(var(--R) * 3);
}

:global(.pointy) .hex.p-1 {
  --X: calc(var(--R) * -4.75);
  --Y: calc(var(--R) * 0.25);
}

:global(.flat) .hex.p-2 {
  --X: calc(var(--R) * 7.25);
  --Y: calc(var(--R) * 3);
}

:global(.pointy) .hex.p-2 {
  --X: calc(var(--R) * 3.25);
  --Y: calc(var(--R) * 0.25);
}

:global(.flat) .hex.p-3 {
  --X: calc(var(--R) * 7.25);
  --Y: calc(var(--R) * 11.25);
}

:global(.pointy) .hex.p-3 {
  --X: calc(var(--R) * 3.25);
  --Y: calc(var(--R) * 16.5);
}

:global(.flat) .hex.p-4 {
  --X: calc(var(--R) * -8.75);
  --Y: calc(var(--R) * 11.25);
}

:global(.pointy) .hex.p-4 {
  --X: calc(var(--R) * -4.75);
  --Y: calc(var(--R) * 16.5);
}
